.staff{
    margin: 10px;
}

.title{
    margin: 10px;
}

.title {
    font-size: 1.6rem;
    text-align: center;
}

#staff_table table{
    width: 100%;
}

#select-week select{
    width: 150px;
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    padding: 5px;
    text-align-last:center;
}

#user-login{
    display: inline;
    float: right;
    font-style:italic;
}