#group-tool{
    margin-top: 10px;
}

#group-tool select{
    width: 150px;
    height: 30px;
    font-size: .8rem;
    text-align: center;
    text-align-last: center;
    margin: 0 10px;
    outline: none;
}



#group-tool button{
    width: 100px;
    height: 30px;
    background-color:greenyellow;
    border-radius: 5px;
    outline: none;
    margin: 0 10px;
}

#btn-schedule-sort{
    background-color:orange!important;
    color: white;
}

#btn-schedule-delete{
    background-color:salmon !important;
    color:white;
}

#group-tool button:hover{
    transform: scale(1.1)
}

#schedule_manage{
    width: 70%;
}



#manage_control{
    width: 30%;
    border:1px solid white;
    margin: 0 10px;
    
}

.schedule-manage{
    flex-direction: row;
    align-items: flex-start;
}

#manage_control th{
    background-color:floralwhite;
    border-color: dodgerblue;
    font-size: 1rem;
}

#manage_control td{
    background-color:floralwhite;
    border-color: dodgerblue;
}


.group-item{
    margin: 10px;
}

.group-item label{
    font-size: 1.1rem;
    margin: 0;
}

.group-item input{
    width: 180px;
    height: 30px;
    text-indent: 10px;
    font-size: 1.1rem;
    margin: 3px 10px;

}

.group-item button{
    width: 80px;
    height: 35px;
    font-size: 1rem;
    margin: 2px;
    border-radius: 3px;
    border: 1px solid cornflowerblue;
    background-color: aqua;
    float: right;
}

.group-item button:hover{
    transform: scale(1.1);
    border: 2px solid salmon;

}

#text-table{
    font-size: 1.2rem;
    margin: 10px;
    font-weight: 600;
}

#table-user{
    width: 100%;
    margin-top: 20px;
    border: none;
}

#table-user th{
    text-align: center;
    border: 1px solid black;
    height: 50px;
    /* background-color:greenyellow; */
    text-align: center;
}

#table-user td{
    text-align: center;
    font-size: 1.1rem;
    border: 1px solid black;
    height: 50px;
}

.schedule-table-user th{
    background-color: greenyellow !important;
}


.react-confirm-alert-body h1{
    text-align: center;
}

.react-confirm-alert-button-group{
    justify-content: center !important;
}

.react-confirm-alert-button-group button{
    height: 35px;
}

.react-confirm-alert-button-group button:hover{
    transform: scale(1.3)
}
