/* tool bar manage */
#group-tool{
    margin-top: 10px;
}

#group-tool select{
    width: 150px;
    height: 30px;
    font-size: .8rem;
    text-align-last: center;
    margin: 0 10px;
    color: #007bff;
    background-color: transparent;
    background-image: none;
    border: 1px solid #007bff;
    outline: none;
}

#group-tool select option{
    font-size: 1rem;
    border: 10px solid white;
}

#group-tool button{
    width: 90px;
    height: 30px;
    background-color:#3cd8ff;
    border-radius: 5px;
    outline: none;
    margin: 0 5px;
    color:  white;
    display: inline-block;
}

#group-tool button:hover{
    transform: scale(1.1)
}


/* add schedule */

.group-item{
    margin: 10px;
}

.group-item label{
    font-size: 1.1rem;
    margin: 0;
}

.group-item input{
    width: 180px;
    height: 30px;
    text-indent: 10px;
    font-size: 1.1rem;
    margin: 3px 10px;

}

.group-item button{
    width: 80px;
    height: 35px;
    font-size: 1rem;
    margin: 2px;
    border-radius: 3px;
    border: 1px solid cornflowerblue;
    background-color: aqua;
    float: right;
}

.group-item button:hover{
    transform: scale(1.1);
}

input.box-staff{
    transform: scale(2)
}

input.box-staff:hover{
    transform: scale(2.1);
    cursor:pointer;
}

#text-table{
    font-size: 1.1rem;
    margin: 10px;
    background-color: white;
    border: none;
}


/* delete schedule */

.react-confirm-alert-body h1{
    text-align: center;
}

.react-confirm-alert-button-group{
    justify-content: center !important;
}

.react-confirm-alert-button-group button{
    height: 35px;
}

.react-confirm-alert-button-group button:hover{
    transform: scale(1.3)
}


/* schedule area */
.schedule-manage{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}

.schedule-table{
    width: 75%;
}

.schedule-staff{
    margin: 10px;
    margin-top: 20px;
    height: 220px;
    overflow: auto;
}

.schedule-staff table{
    border-collapse: collapse;
    display: block;
    border:none
}

.schedule-staff th{
    background-color:rgba(50, 123, 207, 0.671);
    color: white;
}

.schedule-staff th, 
.schedule-staff td{
    padding: 0 10px;
    height: 40px;
    text-align: center;
    word-break: break-all;
    max-width: 100px;
    border: 2px solid rgb(0, 183, 255);
}
