.title h3{
    text-align: center;
    margin-top: 10px;
}

.title h3::before {
    content: "-------------------- ";
}

.title h3::after {
    content: " --------------------";
}

.schedule{
    margin-top: 20px;
    display: block;
}

.schedule table{
    border-collapse: collapse;
    width: 100%;
    
}

.schedule th{
    min-width: 50px;
    min-height: 50px;
    height: 50px;
    text-align: center; 
    border: 2px solid #48c6ef;
    background-color: aqua;
}

.schedule td{
    height: 50px;
    text-align: center; 
    border: 2px solid #48c6ef;
    color: black;
    word-break: break-all;
    max-width: 50px;
    padding:3px;
}


td:first-child{
    background-color:#b1ecff;
}
