.modal {
    display: block; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: #FCFEFF; 
    background-color: rgba(252,254,255,.8); 
  }
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 2px solid steelblue;
    max-width: 400px;
	border-radius: 15px;
	box-shadow: 1px 1px;
}

.title h4{
	text-align: center;
	font-size: 1.6rem;
	color:cornflowerblue;
}

.form-layout{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}

.form-item label{
	font-size: 1.1rem;
}

.form-item input{
	width: 100%;
	height: 30px;
	font-size: 1rem;
	text-indent: 10px;
	border-radius: 5px;
	outline: none;
	margin-top: 5px;
}

.loginBtn{
	width: 100%;
	text-align: center;
}

.loginBtn button{
	width: 120px;
	height: 40px;
	margin: 10px auto;
	border-radius: 5px;
	box-shadow: 1px 1px;
	background-color:ghostwhite;
	color: black;
}

.loginBtn button:hover{
	transform: scale(1.1);
	font-size: 1rem;
}



